{% extends "base.html" %}
{% load adverts_tags %}

{% block title %}Szczegóły{% endblock %}

{% block content %}

<main>
	<div class="col">
	  <div class="card shadow-sm">
		<svg class="bd-placeholder-img card-img-top" width="200%" height="450" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="200%" height="200%" fill="#55595c"/><image href="{{ plot.image_url }}" height="100%" width="100%"/></svg>

		<div class="card-body">
		  <div class="d-flex justify-content-between align-items-center">
			<div class="btn-group">
			  <button type="button" class="btn btn-sm btn-outline-secondary">
				  {% if request.GET.section == 'saved' %}
  				    <a class="btn btn-sm" href="{% url 'adverts:saved_plots' %}?{% query_transform %}">Powrót</a>
				  {% elif request.GET.section == 'search' %}
  				    <a class="btn btn-sm" href="{% url 'adverts:plot_search' %}?{% query_transform %}">Powrót</a>
				  {% else %}
  				    <a class="btn btn-sm" href="{% url 'dashboard' %}">Powrót</a>
				  {% endif %}
			  </button>

			  {% if request.user.is_authenticated %}
			  <button type="button" class="btn btn-sm btn-outline-secondary">
				{% with user_saved_plots=request.user.saved_plots.all %}
				  <a href="#" data-id="{{ plot.id }}" data-type="plot" data-action="{% if request.user in user_saved_plots %}remove{% else %}save{% endif %}"
				  class="save button" id="{{ plot.id }}">
					{% if request.user not in user_saved_plots %}
					  Zapisz
					{% else %}
					  Usuń
					{% endif %}
				  </a>
				{% endwith %}
			  </button>
			  {% endif %}
  
			</div>
		  </div><br>
			<h4  class="card-text">{{ plot.place }}</h4>
			<h5  class="card-text">{% if plot.county != 'brak danych' %}powiat {{ plot.county }}{% endif %}</h5>
			<table>
				<tr>
					<td><p class="card-text">Cena</p></td>
					<td><h5 class="card-text">{{ plot.price }} PLN</h5></td>
				</tr>
				<tr>
					<td><p class="card-text">Powierzchnia</p></td>
					<td><h5 class="card-text">{{ plot.area }} m2</h5></td>
				</tr>
				<tr>
					<td><p class="card-text">Cena za m2</p></td>
					<td><h5 class="card-text">{{ plot.price_per_m2 }} PLN/m2</h5></td>
				</tr>
			</table><br>
		  <p class="card-text">{{ plot.description }}</p>
		  <p class="card-text">Dodano: {{ plot.date_added }}</p>
		  <p class="card-text"><a href="{{ plot.link }}">Link do ogłoszenia</a></p>
		</div>
	  </div>
	</div>
</main>
{% endblock %}

{% block domready %}
  $('a.save').click(function(e){
    e.preventDefault();
    advert_id = $(this).data('id');
    $.post('{% url "adverts:save" %}',
      {
        id: $(this).data('id'),
        type: $(this).data('type'),
        action: $(this).data('action')
      },
      function(data){
        if (data['status'] == 'ok')
        {
          var previous_action = $('[id=' + advert_id + ']').data('action');

          // toggle data-action
          $('[id=' + advert_id + ']').data('action', previous_action == 'save' ? 'remove' : 'save');

          // toggle link text
          $('[id=' + advert_id + ']').text(previous_action == 'save' ? 'Usuń' : 'Zapisz');
        }
      }
    );
  });
{% endblock %}
