{% load adverts_tags %}

{% for plot in plots %}
<div class="col">
  <div class="card shadow-sm">
    <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><image href="{{ plot.image_url }}" height="100%" width="100%"/></svg>

    <div class="card-body">
      <h5  class="card-text">{{ plot.place }}</h5>
      <h6  class="card-text">{% if plot.county != 'brak danych' %}powiat {{ plot.county }}{% endif %}</h6>
      <h6  class="card-text">{{ plot.price }} PLN</h6>
      <h6  class="card-text">{{ plot.area }} m2</h6>
      <h6  class="card-text">{{ plot.price_per_m2 }} PLN/m2</h6>
      <p class="card-text" style="display: -webkit-box; -webkit-line-clamp: 4; -webkit-box-orient: vertical; overflow: hidden;">{{ plot.description }}</p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group btn-group-sm">
          <button type="button" class="btn btn-sm btn-outline-secondary">
            <a class="btn btn-sm" href="{{ plot.get_absolute_url }}?{% query_transform %}">Wyświetl</a>
          </button>
          {% if user.is_authenticated %}
            <button type="button" class="btn btn-sm btn-outline-secondary">
              <a class="btn btn-sm" href="#">Zapisz</a>
            </button>
          {% endif %}
        </div>
        <small class="text-muted">{{ plot.date_added }}</small>
      </div>
    </div>
  </div>
</div>
{% empty %}
  <div class="container pt-5">
    <p class="text-center">Brak wyników wyszukiwania. Spróbuj wprowadzić inne dane.</p>
  </div>
{% endfor %}
