{% extends "base.html" %}

{% block title %}Działki budowlane{% endblock %}

{% block content %}
  <div class="row">
    <div class="col">
        <div class="container">
            <div class="d-flex justify-content-center">
                <div class="container">
                    {% include "adverts/plot/search_form.html" with form=form %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-9">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% if place %}
            {% include "adverts/plot/plots.html" with plots=plots %}
        {% else %}
            <div class="container pt-5">
              <p class="text-center">Wprowadź dane i kliknij szukaj, aby wyświetlić wyniki.</p>
            </div>
        {% endif %}
        </div>

        {% if plots %}
        <div class="container pt-3">
          <div class="d-flex justify-content-center">
              {% include "pagination.html" with page=plots %}
          </div>
        </div>
        {% endif %}

    </div>
 </div>

{% endblock %}
