{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}Zresetuj hasło{% endblock %}

{% block content %}
<div class="d-flex justify-content-center">
    <div class="w-75 p-3">
    <h3>Zresetuj hasło</h3>
    {% if validlink %}
      <p>Proszę podać nowe hasło:</p>
      <form method="post">
        {{ form|crispy }}
        {% csrf_token %}
        <br>
        <button type="submit" class="btn btn-success">Zmień hasło</button>
      </form>
    {% else %}
      <p>Link zmiany hasła jest nieważny, prawdopodobnie został on już użyty. Proszę wykonać kolejny reset hasła.</p>
    {% endif %}
    </div>
</div>
{% endblock %}
