{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}Zresetuj hasło{% endblock %}

{% block content %}
<div class="d-flex justify-content-center">
    <div class="w-25 p-3">
    <h3 class="text-center">Zapomniałaś/eś hasła?</h3>
    <p class="text-center">Podaj adres e-mail, aby ustawić nowe.</p>
    <form class="text-center" method="post">
      {{ form|crispy }}
      {% csrf_token %}
      <br>
      <button type="submit" class="btn btn-success">Wyślij e-mail</button>
    </form>
    </div>
</div>
{% endblock %}
