{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}Zresetuj hasło{% endblock %}

{% block content %}
<div class="d-flex justify-content-center">
    <div class="w-25 p-3">
    <h3 class="text-center">Zresetuj hasło</h3>
    {% if validlink %}
      <p class="text-center">Proszę podać nowe hasło:</p>
      <form class="text-center" method="post">
        {{ form|crispy }}
        {% csrf_token %}
        <br>
        <button type="submit" class="btn btn-success">Zmień hasło</button>
      </form>
    {% else %}
      <p class="text-center">Link zmiany hasła jest nieważny, prawdopodobnie został on już użyty. Proszę wykonać kolejny reset hasła.</p>
    {% endif %}
    </div>
</div>
{% endblock %}
