{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}Zmień swoje hasło{% endblock %}

{% block content %}
<div class="d-flex justify-content-center">
    <div class="w-25 p-3">
    <h3 class="text-center">Zmień swoje hasło</h3>
    <p class="text-center">Użyj formularza poniżej, aby zmienić swoje hasło:</p>
    <form class="text-center" method="post">
      {{ form|crispy }}
      <button type="submit" class="btn btn-success">Zmień</button>
      {% csrf_token %}
    </form>
    </div>
</div>
{% endblock %}
