{% extends "base.html" %}

{% block title %}Działki budowlane{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
  <div class="row">
    <div class="col">
        <div class="container">
            <div class="d-flex justify-content-center">
                <div class="container">
                    <h4>Wyszukaj:</h4>
                    <form method="get" novalidate>
                        {{ form|crispy }}
                        <div class="d-flex justify-content-center">
                          <button type="submit" class="btn btn-success">Szukaj</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-9">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% if place %}
            {% include "store/plot/plots.html" with plots=plots %}
        {% else %}
            <div class="container">
              <p>Wprowadź dane i kliknij szukaj, aby wyświetlić wyniki.</p>
            </div>
        {% endif %}
        </div>
    </div>
 </div>

{% if plots %}
   {% include "pagination.html" with page=plots %}
{% endif %}

{% endblock %}
