{% extends "store/base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<div class="album py-5 bg-light">
    {% if place %}
      <div class="container">
        <h5><a href="{% url 'store:plot_search' %}">Wyszukaj ponownie</a></h5><br>
      </div>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% include "store/plot/plots.html" with plots=plots %}
      </div>
    {% else %}
    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="w-50 p-3">
                <h3>Search for plots</h3>
                <form method="get" novalidate>
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-success">Szukaj</button>
                </form>
            </div>
        </div>
    </div>
    {% endif %}

</div>

{% if plots %}
   {% include "pagination.html" with page=plots place=place price=price area=area query=query %}
{% endif %}

{% endblock %}
