{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}Edytuj profil{% endblock %}

{% block content %}
<div class="d-flex justify-content-center">
  <div class="w-25 p-3">
    <h3 class="text-center">Edytuj profil</h3>
    <br>
    <p class="text-center"><a href="{% url 'password_change' %}">Zmiana hasła</a></p>
    <p class="text-center">Możesz zmienić swoje dane korzystając z poniższego formularza:</p>
    <form class="text-center" method="post" enctype="multipart/form-data">
      {{ user_form|crispy }}
      {% csrf_token %}
      <br>
      <button type="submit" class="btn btn-success">Zapisz zmiany</button>
    </form>
  </div>
</div>
{% endblock %}
