{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}Utwórz konto{% endblock %}

{% block content %}
<div class="d-flex justify-content-center">
  <div class="w-75 p-3">
    <h3 class="text-center">Utwórz konto</h3>
    <p class="text-center">Zarejestruj się wypełniając poniższy formularz:</p>
    <form class="text-center" method="post">
      {{ user_form|crispy }}
      {% csrf_token %}
      <br>
      <button type="submit" class="btn btn-success">Utwórz konto</button>
    </form>
  </div>
</div>
{% endblock %}
